.bgposition {
    position: absolute;
    right: 200px;
    margin-top: 50px;
}

.frame {
    position: relative;
    right: 180px;
    bottom: 250px;
}
.section {
    padding: 20px;
    background: #f9f9f9;
  }
  


.frame2 {
    position: absolute;
    top: 120px;
    right: 700px;
}

.hello {
    position: absolute;
    top: 500px;
    right: 200px;
}

.divFlex {
    display: flex;
    justify-content: space-between;
}

.flexing {
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
}

.imgPOsition {
    position: absolute;
    right: 50px;
    bottom: -100px;
}

.sec {
    position: relative;
    margin-top: 100px;
}

.boss {
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px gray;
    position: relative;
    bottom: 100px;
    background-color: white;
}

.card {
    display: flex;
    justify-content: space-between;
}

.table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
    color: white;
    padding: 40px;
    border-radius: 10px;
}

.cardFlex {
    border: 1px solid gray;
    width: 330px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.bag {
    display: flex;
    border: 1px solid gray;
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
    margin-top: 100px;
}

.kok {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.btn {
    background-color: #5D3AEF;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
}

.goes {
    display: flex;
    justify-content: space-between;
}

.mt {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 40px;
}

.lale {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
    color: white;
    padding: 40px;
    border-radius: 10px;
    height: 250px;
    margin-top: 100px;
}

.cord {
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 250px;
}

.curd {
    background: linear-gradient(135deg, #2193b0 0%, #6ec5d8 100%);
    color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 250px;
}

.crrd {
    background: linear-gradient(135deg, #6be1ff 0%, #15d4bb 100%);
    color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 250px;
}

.bod {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}


.none {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.width {
    width: 300px;
    border: 1px solid rgb(201, 196, 196);
    padding: 20px;
    background-color: #F2F7FF;
    border-radius: 10px;
}

.person {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.flexText {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}


