.fel {
    display: flex;
    gap: 50px;
}

.div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    border-top: 1px solid gray;
    padding: 10px;
}

